<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sp.whatsthestatus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.SaveStatus">
        <activity android:name=".ImageViewer" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".service.NotificationService" />

        <receiver
            android:name=".service.reciever.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.reciever.NotificationReceiver"
            android:enabled="false"
            android:exported="false"/>
<!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.bestwhatsappstatus.saver.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
-->

    </application>

</manifest>